@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

/* dando um reset na formataçãp */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}


/* Tamanho da fonte da página e cor de fundo */

body {
    font-size: 100%;
    background: #a8dadc;
}

.cabecalho {
    /* alinhando os itens da página na horizontal */
    display: flex;
    flex-direction: row;
    /* alinhando a logo e menu principal na mesma direção */
    align-items: center;
    /* Definindo a distanca da logo e do menu no centro*/
    justify-content: space-around;
}

.imagem {
    /* defindo a altura da logo */
    height: 100px;
}

.menu-principal {
    /* Definindo a distancia entre os itens do menu principal */
    display: flex;
    gap: 32px;
}

.menu-item {
    /* Definindo a fonte, tamanho da fonte e cor da fonte do menu principal */
    font-family: 'Arvo', serif;
    color: #1d3557;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
}

.conteudo {
    border-radius: 10px;
    border: 2px solid #457b9d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    font-family: 'Arvo', serif;
    color: #1d3557;
}

#titulo {
    font-weight: 900;
    font-size: 37px;
}

#subtitulo {
    font-weight: 400;
    font-size: 18px;
}

a:hover {
    color: #e63946;
}

#Cinco {
    border-radius: 10px;
    border: 2px solid #457b9d;
    height: 28px;
    width: 98px;
    text-align: center;
    background-color: bisque;
}

.campo {
    margin-bottom: 0.2em;
}

.campo label {
    color: #050000;
    display: flex;
    font-family: sans-serif;
}

.rodape {
    height: 100px;
}